common --registry=https://raw.githubusercontent.com/nick-dodonov/tx-kit-repo/main
common --registry=https://bcr.bazel.build/
# https://bazel.build/run/bazelrc#enable_platform_specific_config
common --enable_platform_specific_config

try-import tools/bazel/configs/targets.bazelrc

# === ПОЛЬЗОВАТЕЛЬСКИЕ НАСТРОЙКИ (не в git) ===
try-import %workspace%/.dev.bazelrc
try-import %workspace%/.user.bazelrc
