name: Bazel CI

on:
  push:
    tags:
      - '*'
      - '*/*'

jobs:
  build-and-test:
    name: Build and Test (${{ matrix.config.name }})
    runs-on: ${{ matrix.config.os }}
    
    strategy:
      matrix:
        config:
          - name: Linux GCC
            os: ubuntu-latest
            bazel-config: ''
          - name: WASM
            os: ubuntu-latest
            bazel-config: '--config=wasm'
          - name: macOS
            os: macos-latest
            bazel-config: ''
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.9.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}-${{ matrix.config.name }}
          repository-cache: true

      - run: bazel version
        shell: bash

      - name: Build all targets
        run: bazel build //... ${{ matrix.config.bazel-config }}
        shell: bash

      - name: Run demo target (verify runtime info)
        run: bazel run demo/hello-app ${{ matrix.config.bazel-config }}
        shell: bash

      - name: Run all tests
        run: bazel test //... ${{ matrix.config.bazel-config }}
        shell: bash
